<!DOCTYPE html>
<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %}
      <div class="chat">
         <div class="top">
            <div class="avatar">
               <!--<img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">-->
               <img width="50" height="50" src="{{ user_avatar }}">
            </div>
            <div class="info">
               <div class="name" id="fr-username">{{ friend_name }}</div>
               <div class="count">already {{ posts_no }} messages</div>
            </div>
            <i class="fa fa-star"></i>
         </div>
         <ul class="messages">
         {% for msg in filename %}
	         {% if msg[0:msg.index("#")] == username %}
	            <li class="i">
	               <div class="head">
	                  <span class="time">10:13 AM, Today</span>
	                  <span class="name">Me</span>
	               </div>
	               <div class="message"> {{ msg[msg.index("#")+1:] }}</div>
	            </li>
	    	{% elif msg[0:msg.index("#")] == friend_name %}
            <li class="friend">
               <div class="head">
                  <span class="name">{{ friend_name }}</span>
                  <span class="time">10:15 AM, Today</span>
               </div>
               <div class="message">{{ msg[msg.index("#")+1:] }}</div>
            </li>
            {% end %}
        {% end %}
         </ul>
         <div class="write-form">
            <textarea placeholder="Type your message" name="e" id="text" rows="2"></textarea>
            <i class="fa fa-picture-o"></i>
            <i class="fa fa-file-o"></i>
            <span class="send">Send</span>
         </div>
      </div>
   </div>
{% end %}