<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Chat Game | Create Group</title>
   <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="../static/css/normalize.css">
   <link rel="stylesheet" href="../static/css/index.css">
   <style type="text/css">

   </style>
</head>
<body class="index-body">
  <div class="form">


      <div class="tab-content">
        <div id="signup" style="display:block;">

          <form action="/creategroup" method="post">



          <div class="field-wrap">
            <label>
              Group Name<span class="req">*</span>
            </label>
            <input name="groupname" type="text"required autocomplete="off"/>
          </div>
          <button type="submit" class="button button-block"/>Create Group</button>

          </form>

        </div>

      </div>

</div> 
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
   <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>
   <script src="../static/js/index.js"></script>
   <script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
