<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %}
      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-left: 160px;font-size: 50px; text-decoration: underline;">Groups</div>
            </div>
         </div>
         <div>
         <h2>Groups you're member of</h2>
         <ul class="memberof" style="height: 35%">
         {% for i,group in enumerate(groups_list) %}
          <li> 
            <!-- <a name ="groupchatlink" href="/gchat" id={{group['_id'] }}> {{group['name'] }}</a>  -->
                    <form  name = "groom" action="/gchat" method="post">
                      <input type="hidden" name="gid" value={{group['_id'] }}>
                      <input type="hidden" name="gname" value={{group['name'] }}>
                      <button type="submit" />{{group['name']}}</button>
                   </form>
            {% if group['_id'] not in owner %}
                   <form action="/blockfriend" method="post">
                      <input type="hidden" name="block" value="group">
                      <input type="hidden" name="remove" value={{group['_id']}}>
                      <button type="submit" />leave group</button>
                   </form>
            {% end %}
            
           {% end %}
           </li>
         </ul>
         <h2>All Groups</h2>
         <ul class="allgroups">
            {% for i,groupnin in enumerate(nin_grouplist) %}
              <li> 
                  <!-- <a class ="groups" href="/gchat" id={{groupnin["_id"] }}> {{groupnin['name'] }}</a> -->
                  <p>{{groupnin['name'] }}</p>
                    <form action="/add" method="post">
                    <input type="hidden" name="add" value="group">
                      <input type="hidden" name="join" value={{groupnin['_id']}}>
                      <button type="submit" />Join group</button>
                    </form>

              </li>
           {% end %}
           
         </ul>
         <a href="/creategroup">Create new Group</a>

      </div>
   </div>

{% end %}
