<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %}
      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-top: 20px; margin-left: 210px;font-size: 25px;color:#4c4a37; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px;">Groups</br>

               </div>
             </br>
             <div style="margin-left: 100%;"><a href="/creategroup"><img width="50" height="50" src="../static/img/addicon.png" alt=""></a></div>
            </div>
         </div>
         <div>
         </br>
         <h2 style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px;margin-left: 5px;">Groups you're member of</h2>
         <ul class="memberof" style="overflow:scroll;columns: 10% 3;height:35%;padding: 5px;list-style: none;">
         {% for i,group in enumerate(groups_list) %}

          <li style="margin:30px;display: inline-block;" class="button">
                    <form  name = "groom" action="/gchat" method="post">
                      <input type="hidden" name="gid" value={{group['_id'] }} style="background-color: white;">
                      <input type="hidden" name="gname" value={{group['name'] }} style="display:inline-block;">
                      <button type="submit" style="background-color:#e7e7e7;border:1px solid #e7e7e7;margin-bottom: 3px;">{{group['name']}}</button>
                   </form>
            {% if group['_id'] not in owner %}
                   <form action="/blockfriend" method="post">
                      <input type="hidden" name="block" value="group">
                      <input type="hidden" name="remove" value={{group['_id']}}>
                      <button type="submit"><img width="20" height="20" src="../static/img/leavegroup2.png" alt=""></button>
                   </form>
            {% end %}

           {% end %}
           </li>
         </ul>
         <h2 style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px;margin-left: 5px;">All Groups</h2>
         <ul class="allgroups" style="overflow:scroll;columns: 10% 3;height:35%;padding: 5px;list-style: none;">
            {% for i,groupnin in enumerate(nin_grouplist) %}
              <li style="margin:30px;display: inline-block;" class="button">
                  <p style="font-family: sans-serif;">{{groupnin['name'] }}</p>
                    <form action="/add" method="post">
                    <input type="hidden" name="add" value="group">
                      <input type="hidden" name="join" value={{groupnin['_id']}}>
                      <button type="submit"><img width="20" height="20" src="../static/img/joingroup.png" alt=""></button>
                    </form>

              </li>
           {% end %}

         </ul>


      </div>
   </div>

{% end %}
