<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %}
      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-left: 160px;font-size: 50px; text-decoration: underline;">Groups</div>
            </div>
         </div>
         <h2>Groups you're member of</h2>
         <ul class="memberof" style="height: 35%">
         </ul>
         <h2>All Groups</h2>
         <ul class="allgroups"></ul>
         <div id="createGroup"  style="display:none;" class="answer" > <p>Group Name :<input type="text" id="gName"></p> </div>
         <input type="button" name="answer" id="btnCreate" value="Create Group" onclick="showDiv()" />
      </div>
   </div>
   <script>
   function showDiv() {
   document.getElementById('createGroup').style.display = "block";
  var btn = document.getElementById('btnCreate');
  if ( btn.value == "Create Group") btn.value ="Create";
  else {btn.value = "Create Group";document.getElementById('createGroup').style.display = "none";}
  if ( document.getElementById("gName").value !="") {
    var gx = document.getElementById("gName").value ;
  }

  console.log(gx);
}
</script>
{% end %}
