<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %} 
<input type="hidden" id="Group" value={{gidd}}>
      <div class="chat">
         <div class="top">
            <div class="avatar">
               <!--<img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">-->
               <img width="50" height="50" src="{{ group_avatar }}">
            </div>
            <div class="info">
               <div class="name" id="gr-username">{{ group_name }}</div>
               <div class="count">already {{ posts_no }} messages</div>
            </div>
            <i class="fa fa-star"></i>
         </div>
         <ul class="messages">
         {% for msg in filename %}
            {% for user in chat_members %}
               {% if msg[0:msg.index("#")] == username %}
                  <li class="i">
                     <div class="head">
                        <span class="time">10:13 AM, Today</span>
                        <span class="name">Me</span>
                     </div>
                     <div class="message"> {{ msg[msg.index("#")+1:] }}</div>
                  </li>
            {% elif msg[0:msg.index("#")] == user %}
               <li class="friend">
                  <div class="head">
                     <span class="name">{{ user }}</span>
                     <span class="time">10:15 AM, Today</span>
                  </div>
                  <div class="message">{{ msg[msg.index("#")+1:] }}</div>
               </li>
               {% end %}
            {% end %}
        {% end %}
         </ul>
         <div class="write-form">
            <textarea placeholder="Type your message" name="e" id="text" rows="2"></textarea>
            <i class="fa fa-picture-o"></i>
            <i class="fa fa-file-o"></i>
            <span class="send">Send</span>
         </div>
      </div>
      <div class="left-menu">
         <menu class="list-pages" style="font-size: 15px;">
         {% for i,user in enumerate(gusr) %}
            <li>
               <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
               <div class="info">
                  <div class="user" name="usersingroup" id="{{user['name']}}">{{user['name']}}</div>
                  <div class="status {{user['status']}}">{{user['status']}}line </div>
               </div>
            </li>

         {% end %}
            
         </menu>
      </div>
   <!-- </div> -->
   {% end %}
{% block script %} 
   <script src="../static/js/gchat.js"></script>
{% end %}