<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>Chat Game</title>

   <link rel="stylesheet" href="../static/css/normalize.css">
   <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
   <div class="ui" style="width:1000px;background-color: #a9b1bc">
      <!--<div class="dropdown">
				<button class="dropbtn">Dropdown</button>
				<div class="dropdown-content">
			    	<a href="home">Home</a>
			    	<a href="groups">Groups</a>
			    	<a href="people">People</a>
			  	</div>
			</div>-->
      <menu class="list-pages" style="color: black; width: 30%;">
         <li>
            <img width="30" height="30" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
            <div class="info">
               <div class="user status on" style="font-size: 15px; color: black;margin-bottom: 15px;">Sara Taha</div>
               <!-- Rounded switch -->
               <label class="switch">
                  <input type="checkbox">
                  <div class="slider round"></div>
               </label>
               <p>Offline/Online</p>
            </div>
         </li>
         <li class="button" style="width: 55%;margin-left: 1.5em">
            <a href="home"><img width="50" height="50" src="../static/img/home.png">
            </a>
         </li>
         <li class="button" style="width: 55%;margin-left: 1.5em">
            <a href="groups"><img width="50" height="50" src="../static/img/group.png">
            </a>
         </li>
         <li class="button" style="width: 55%;margin-left: 1.5em">
            <a href="people"><img width="50" height="50" src="../static/img/user.png">
            </a>
         </li>
         <li class="button" style="width: 55%;margin-left: 2.5em;text-align: center;font-size: 0.6em;">
            <a href="chatbot" style="text-align: center;">ChatBot</a>
         </li>
      </menu>
      <div class="left-menu">

         <menu class="list-pages" style="font-size: 15px;">
            <li>
               <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
               <div class="info">
                  <div class="user">Sara Taha</div>
                  <div class="status on"> online</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/1">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status on"> online</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/2">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status off">left 3 min age</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/3">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status on"> online</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/4">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status off">left 4 min age</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/5">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status off">left 12 min age</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/6">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status off">left 13 min age</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/7">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status on">online</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/8">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status off">left 6 min age</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/9">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status on">online</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/10">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status off">left 1 min age</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/0">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status on">online</div>
               </div>
            </li>
            <li>
               <img width="50" height="50" src="http://lorempixel.com/50/50/people/99">
               <div class="info">
                  <div class="user">Name</div>
                  <div class="status off">left 23 min age</div>
               </div>
            </li>
         </menu>
      </div>
      <div class="chat">
         <div class="top">
            <div class="avatar">
               <!--<img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">-->
               <img width="50" height="50" src="{{ group_avatar }}">
            </div>
            <div class="info">
               <div class="name" id="gr-username">{{ group_name }}</div>
               <div class="count">already {{ posts_no }} messages</div>
            </div>
            <i class="fa fa-star"></i>
         </div>
         <ul class="messages">
         {% for msg in filename %}
            {% for user in chat_members %}
               {% if msg[0:msg.index("#")] == username %}
                  <li class="i">
                     <div class="head">
                        <span class="time">10:13 AM, Today</span>
                        <span class="name">Me</span>
                     </div>
                     <div class="message"> {{ msg[msg.index("#")+1:] }}</div>
                  </li>
            {% elif msg[0:msg.index("#")] == user %}
               <li class="friend">
                  <div class="head">
                     <span class="name" id="nickList">{{ user }}</span>
                     <span class="time">10:15 AM, Today</span>
                  </div>
                  <div class="message" id="msgList">{{ msg[msg.index("#")+1:] }}</div>
               </li>
               {% end %}
            {% end %}
        {% end %}
         </ul>
         <div class="write-form">
            <textarea placeholder="Type your message" name="e" id="text" rows="2" id="txtMsg"></textarea>
            <i class="fa fa-picture-o"></i>
            <i class="fa fa-file-o"></i>
            <span class="send" id="btnSend">Send</span>
         </div>
      </div>
   </div>
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
   <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>
   <script src="../static/js/index.js"></script>
   <script>
      var ws;
        Zepto(function($){
            init_ws();

            window.onbeforeunload = function(e) {
                ws.close()
            };

        })

        function init_ws() {
                var url;
                url = "ws://"+window.location.host  + "/ws/{{ clientid }}";
                ws = new WebSocket( url );
                ws.onopen  = function(event) {
                    console.log("Socket opened");
                    // init_chat_ui();
                }

                ws.onclose = function(){
                    console.log("WebSocket closed.");
                }

                ws.onerror  = function(event) {
                    console.log("ERROR opening WebSocket.");
                    $('body').html("<h1>ERROR connecting to chat server</h1><p>reload the page and try again</p>");
                }

                ws.onmessage = receive_message;

            };

            // function init_chat_ui() {
            //     $("#txtMsg").keyup(function(event) {
            //             if ( $(this).val() != "") {
            //                 $("#btnSend").removeAttr("disabled");
            //                 //if key is enter, send message and clean box
            //                 if (event.which == 13) {
            //                     send_text_msg($("#txtMsg").val());
            //                     $("#btnSend").attr("disabled", "disabled");
            //                 }
            //             } else {
            //                 $("#btnSend").attr("disabled", "disabled");
            //             }
            //     });
                $("#btnSend").click(function() {
                    send_text_msg($("#txtMsg").val())
                    $("#btnSend").attr("disabled", "disabled");
                });
                $("#chat").show(400);
                }

            function send_text_msg(txt) {
                text_msg_obj = {"msgtype": "text", "payload": txt };
                $("#txtMsg").val("");
                $("#txtMsg").focus();
                jmsg = JSON.stringify(text_msg_obj );
                ws.send(jmsg);
            };

            function receive_message(wsevent) {
                console.log("received message: "+wsevent.data )
                msg_obj = $.parseJSON(wsevent.data);
                switch (msg_obj.msgtype) {
                    case "join": $("#msgList").append("<b>"+ msg_obj.username + msg_obj.payload + "</b><br/>");
                                 break;
                    case "leave":$("#msgList").append("<b>"+msg_obj.username + msg_obj.payload + "</b><br/>");
                                  break;
                    case "nick_list": $("#nickList").empty()
                                      $("#nickList").append("<ul>");
                                      nl = _.map(msg_obj.payload, function(nick){ return "<li>"+nick+"</li>"; })
                                      ih =  _.reduce(nl, function(inner, li){ return inner + '\n'+ li; }, "");
                                      $("#nickList").append(ih);
                                      $("#nickList").append("</ul>");
                                  break;
                    default: $("#msgList").append("<b>"+msg_obj.username+": </b>"+msg_obj.payload+"<br/>");
                }

                $("#msgList").scrollTop($("#msgList")[0].scrollHeight);
            }

   </script>
</body>
</html>