<html>
{% extends base.html %}
   {% block title %} Chat Game | Leaderboard {% end %}
{% block content %}

      <div class="chat">
         <div class="top">
            <div class="info">
              <form  action="/LogOut" method="get">
                <div class="btnLogOut"> <input type="button" name="logout" id="btnLogOut" value="Log Out"  /></div>
              </form>
               <div class="name" style="margin-top: 20px; margin-left: 160px;font-size: 25px;">Leaderboard</div>

            </div>
         </div>
         <ul class="messages">
         </ul>
      </div>
   </div>
{% end%}
