<html>
{% extends base.html %}
   {% block title %} Chat Game | Leaderboard {% end %}
{% block content %}

      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-top: 20px; margin-left: 160px;font-size: 25px;color:#4c4a37; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px;">Leaderboard</div>

            </div>
         </div>
         <!-- <table> -->
         <!-- <tr> -->
         <table class="messages" style="margin-left: 4%;text-align: center; font-weight: bold;">
               <tr><th style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;"><h4>Best Friend</h4></th>
               <th style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;"><h4>Chatty One</h4></th>
               <th style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;"><h4>Public Figure</h4></th>
               <th style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;"><h4>Party Man</h4></th>
               </tr>
               <tr><td><ul style="list-style: none;">
                  {% for friend in best_friends %}
                     <li>
                        {{friend}}
                     </li>
                  {% end %}
               </ul></td>
               <td>
                  <ul style="list-style: none;">
                  {% for chatty in chatty_ones %}
                     <li>
                        {{chatty}}
                     </li>
                  {% end %}
               </ul>
               </td>
               <td>
                  <ul style="list-style: none;">
            </li><br>
               <ul style="list-style: none;">
               {% for pubicfigure_n in pubicfigure_name %}
                  <li>{{pubicfigure_n}}</li>
               {% end %}
               </ul>
               </td>
               <td>
                  <ul style="list-style: none;">
               </li>
               <li>
               <ul style="list-style: none;">
               {% for partyman in partymans %}
                  <li>{{partyman}}</li>
               {% end %}
               </ul>
               </td>
               </tr>
               </table>

               {% if rquests != []%}
               <div id="messages_div">

                <h3>Offline Notification</h3>
                <ul style="list-style: none;background: #333;overflow:scroll;columns: 10% 4;">
               {% for request in rquests %}
                  <li style="background: #cce;margin: 5px;padding-left: 5px;">{{request}} added you. </li
               {% end %}
               </div>
               {% end %}
         </ul>
      </div>
   </div>
{% end%}
