<html>
{% extends base.html %}
   {% block title %} Chat Game | Leaderboard {% end %}
{% block content %}

      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-top: 20px; margin-left: 160px;font-size: 25px;">Leaderboard</div>
               <!-- pubicfigure_name -->
               <h1>pubic figure name sorted</h1>
               {% for pubicfigure_n in pubicfigure_name %}
                  <p>{{pubicfigure_n}}</p>
               {% end %}
               <!-- partymans -->
               <h1>Party man name sorted</h1>
               {% for partyman in partymans %}
                  <p>{{partyman}}</p>
               {% end %}

               
               {% if rquests != []%}
               <div id="messages_div">
                <h3>msgs if there is any user add me</h3>
               {% for request in rquests %}

                  <p>{{request}} added you. </p>
               {% end %}
               </div>
               {% end %}
               

            </div>
         </div>
         <ul class="messages">
         </ul>
      </div>
   </div>
{% end%}
