<!DOCTYPE html>
<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %}
      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-left: 160px;font-size: 50px; text-decoration: underline;">People</div>
            </div>
         </div>
         <h2>Your Friends</h2>


           <ul class="memberof" id="friendsMember" style="height: 35%">
             {% for i,friend in enumerate(friend_in_list) %}
              <li>
                  <!-- <a class ="people" href="/pchat" id={{friend['_id']}}> {{friend['name']}}</a> -->
                   <form action="/pchat" method="post">
                      <input type="hidden" name="fnamee" value={{friend['name']}}>
                      <button type="submit" />{{friend['name']}}</button>
                   </form>
                   <form action="/blockfriend" method="post">
                      <input type="hidden" name="block" value="friend">
                      <input type="hidden" name="remove" value={{friend['_id']}}>
                      <button type="submit" />block</button>
                   </form>
           {% end %}
           </li>
           </ul>

         <h2>All People</h2>
         <ul class="allgroups" id="friendsNotMember">
           {% for i,friendnin in enumerate(friend_nin_list) %}
            <li>
                <a class ="groups" id={{friendnin['_id']}}> {{friendnin['name']}}</a></li>
                 <form action="/add" method="post">
                    <input type="hidden" name="add" value="friend">
                    <input type="hidden" name="join" value={{friendnin['_id']}}>
                    <button type="submit" />add</button>
                 </form>
         {% end %}


         </ul>
      </div>
   </div>
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
   <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>
   <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
   <script src="../static/js/index.js"></script>


{% end %}
