<!DOCTYPE html>
<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %}
      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-top: 20px; margin-left: 230px;font-size: 25px;color:#4c4a37; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px;">People</div>
            </div>
         </div>
         <h2 style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px;margin-left: 5px;">Your Friends</h2>


           <ul class="memberof" id="friendsMember" style="overflow:scroll;columns: 10% 3;height:35%;padding: 5px;list-style: none;">
             {% for i,friend in enumerate(friend_in_list) %}
              <li style="margin:30px;display: inline-block;" class="button">
                   <form action="/pchat" method="post">
                      <input type="hidden" name="fnamee" value={{friend['name']}}>
                      <button type="submit" style="background-color:#e7e7e7;border:1px solid #e7e7e7;margin-bottom: 3px;">{{friend['name']}}</button>
                   </form>
                   <form action="/blockfriend" method="post">
                      <input type="hidden" name="block" value="friend">
                      <input type="hidden" name="remove" value={{friend['_id']}}>
                      <button type="submit"><img width="20" height="20" src="../static/img/block.png" alt=""></button>
                   </form>
           {% end %}
           </li>
           </ul>

         <h2 style="padding-right: 15px; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px;margin-left: 5px;">All People</h2>
         <ul class="allgroups" id="friendsNotMember" style="overflow:scroll;columns: 10% 3;height:35%;padding: 5px;list-style: none;">
           {% for i,friendnin in enumerate(friend_nin_list) %}
           <div class="button" style="margin:30px;">
            <li style="display:inline-block;">
                <a class ="groups" id={{friendnin['_id']}} style="font-family: sans-serif;"> {{friendnin['name']}}</a></li>
                 <form action="/add" method="post">
                    <input type="hidden" name="add" value="friend">
                    <input type="hidden" name="join" value={{friendnin['_id']}}>
                    <button type="submit" /><img width="20" height="20" src="../static/img/addfriend.png" alt=""></button>
                 </form>
                 </div>
         {% end %}


         </ul>
      </div>
   </div>
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
   <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>
   <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
   <script src="../static/js/index.js"></script>


{% end %}
