<!DOCTYPE html>
<!DOCTYPE html>
{% extends base.html %}
   {% block title %} Chat Game | Groups {% end %}
{% block content %}




      <div class="chat">
         <div class="top">
            <div class="info">
               <div class="name" style="margin-left: 160px;font-size: 50px; text-decoration: underline;">People</div>
            </div>
         </div>
         <h2>Your Friends</h2>
         <ul class="memberof" style="height: 35%">
         
         
         </ul>
         <h2>All People</h2>
         <ul class="allgroups"></ul>
         <div><a href="/pchat" id="Sara" name="friend_name">friend</a></div>
      </div>
   </div>
{% end %}